body
{
    background-color: rgb(84, 73, 185);
    text-align: center;
    font-size: 30px;
    color: aliceblue;
}  
.hd
{
    text-decoration: underline;
}
h2
{
    display: block;
    margin: 0 140px;
    margin-top: 30px;
}


.image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 95px;
}

.player img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
}
button{
    background-color: aliceblue;
    color: rgb(84, 73, 185);
    font-size: large;
    padding: 10px;
    margin-top: 40px;
    border-radius: 25px;
    width: 250px;
    cursor: pointer;
}


/* page 2*/


.scores
{
    margin-top: 20px;
}

.options
{   
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}


@keyframes usershake
{
    0%{
        transform: rotate(-30deg);
    }
    25%{
        transform: rotate(30deg);
    }
    50%{
        transform: rotate(-30deg);
    }
    75%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
    
.usershake{
    animation: usershake 0.8s linear;
}

@keyframes computershake
{
    0%{
        transform: rotate(30deg);
    }
    25%{
        transform: rotate(-30deg);
    }
    50%{
        transform: rotate(30deg);
    }
    75%{
        transform: rotate(-30deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.computershake{
    animation: computershake 0.8s linear;
}

.pictures
{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    height: 200px;
    
}

.versus{
    margin-top: 160px;
}

.points{
    margin: 2em 0;
    text-align: center;
}

.uscore{
    margin-left: 3em;
}

.cscore{
    margin-right: 3em;
}

.user img,.computer img
{
    width: 90%;
    height: 200px;
}

